html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

th, td, .dt-info, .dt-paging-button, .dt-length, .dt-search{
    font-size: 12px;
}

.dt-container .dt-search input  {
    padding: 0px;
}

.autocomplete-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 999;
    border: 1px solid #ddd;
    background: white;
    max-height: 200px;
    overflow-y: auto;
    display: none;
}

.autocomplete-item {
    padding: 8px 12px;
    cursor: pointer;
}

.autocomplete-item:hover {
    background-color: #f0f0f0;
}

.lupa {
    transition: .2s;
    cursor: pointer;
}

.lupa:hover {
    transform: scale(0.9);
}
